// theme
$current-theme: dark;

// colors
$color-dark-bg: #3b3b41;
$color-light-bg: #f3f3f3;
$color-dark-border: rgba(82, 80, 80, 0.494);

$color-light: #a2a5b9;
$color-dark: #1d2129;
$color-primary: #385898;
$color-danger: red;
$color-success: green;

$color-chocolate: #b98160;
$color-vanilla: #fae8b6;
$color-strawberry: pink;
$color-orange: orange;
$color-lemon: #5fd592;
$color-tan: tan;

// font
$font-base-size: .875rem;
$font-base-family: Helvetica;